

*{
    /* html요소의 기본적으로 설정된 pdding,margin을 없애기
      ->사용자가 크기지정, 배치가 편해진다 */
    padding:0;
    margin:0;
    box-sizing: border-box;
}

div{
    border : 1px solid black;
}

/* 감싸는 요소 (기준점)*/
.container-1{
    width: 304px;
    height: 304px;
    border: 2px dashed red;
    margin: 30px;
    
    position :  relative;    /* 기준 */
}

.first{
    width:300px;
    height:300px;
    background-color: yellow;

    position: absolute;
}

.second{
    width:200px;
    height:200px;
    background-color: green;

    position:absolute;
    /* 기준요소 왼쪽 벽으로 부터 50px만큼 떨어진위치 */
    left:50px;
    top:50px;
}

.third{
    width:100px;
    height:100px;
    background-color: red;

    position: absolute;
    
    left:100px;
    bottom:100px;
    /*top, bottom, left, right , 
     음수 양수 모두 가능하다 */
}

/* 요소 정가운데 배치 */

.container-2{
    width: 400px;
    height: 400px;
    position: relative;  /* 기준 */
}

.center{
    width:50px;
    height:50px;
    background-color: hotpink;
    /* 테두리를 둥글게 */
    border-radius:50%;
    /* 다른 요소와의 간격을 자동으로 설정  - >가운데정렬*/
     margin: auto; 
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
}


/* fixed */

.fixed-area{
    width:40px;
    height:40px;
    border-radius:50%;

    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: white;
}

.fixed-area>a{
    width: 100%;
    height: 100%;
    display:block;
    border-radius: 50%;
    /* 글자 정렬 속성 */
    text-align: center;
    /*  장평 설정 속성 */
    line-height: 35px;
    /* 밑줄 없애기 */
    text-decoration: none;
    /* 글자색 변경 */
    color: black;
    /* 글꼴 두꼐 설정 */
    font-weight: bold;
    /* 사용자 선택(블럭) 못하게 하기  */
    user-select: none;
}

/* sticky */
.title{
    background-color: aqua;
    color:blue;
    padding:100px 20px 30px;
    /* 요소가 화면을 벗어나면 지정된 위치에 고정 */
    position:sticky;
    top:-70px;
    /*  z축 방향으로 올라와있는 순서(정도) */
    z-index: 1;
}